
@{
    ViewData["Title"] = "Admin Post View";
}

@model IEnumerable<MVCSocialMedia.Models.Post>

<div class="text-center">
    <h4>All Posts<h4>
</div>
<table class="table bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpinionText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpinionText)
                </td>
                @{
                    if (User.Identity.Name == item.Username || User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>

                    }
                }
            </tr>
        }
    </tbody>
</table>
