@model IEnumerable<MVCSocialMedia.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model) {
    <div class="container bg-white m-5" >
    <div>
        <div>
            <blockquote class="blockquote">
                    <h2 class="p-4">@item.Title &nbsp; &nbsp; &nbsp; &nbsp; <h2/>

                <footer class="blockquote-footer text-left">Posted by: @item.Username</footer>
            </blockquote>
                @if (User.Identity.Name == item.Username)
                {
                    <h4><a asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;<a asp-action="Delete" asp-route-id="@item.Id">Delete</a></h4>
                }
        </div>
    </div>
    <hr />
    <div class="container">
        <div>
            @if (item.PostImageAsByteArray != null)
            {
                <div>
                    <div class="bg-black">
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.PostImageAsByteArray)" class="rounded mx-auto d-block" style="height: 500px"/>
                    </div>
                    <hr />
                </div>
            }
            <div class="p-4 mb-auto">
                <h2>@item.OpinionText</h2>
            </div>
        </div>
    </div>
    </div>
    }
