@model IEnumerable<MVCSocialMedia.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" asp-controller="Posts" class="w-100 btn btn-info fs-4" role="button">Create a new post here!</a>
</p>
@foreach (var item in Model)
{
    <div class="container bg-white">
        <div class="card mb-5 mt-5">
            <div class="card-header m-4">
                <blockquote class="blockquote">
                    <h2 class="p-4">
                        @item.Title &nbsp; &nbsp; &nbsp; &nbsp; <h2 />

                        <footer class="blockquote-footer text-left">Posted by: @item.Username</footer>
                </blockquote>
            </div>
            <hr />
            <div class="card-body">
                <div>
                    @if (item.PostImageAsByteArray != null)
                    {
                        <div>
                            <div class="bg-black">
                                <img src="data:image;base64,@System.Convert.ToBase64String(item.PostImageAsByteArray)" class="rounded mx-auto d-block" style="height: 500px" />
                            </div>
                            <hr />
                        </div>
                    }
                    <div class="p-4 mb-auto bg-light">
                        <h2>@item.OpinionText</h2>
                    </div>
                </div>
            </div>
                @if ((User.Identity.Name == item.Username) || User.IsInRole("Admin"))
                {
                    <div class="card-footer m-4">
                    <h4><a asp-action="Edit" asp-route-id="@item.Id">Edit</a>&nbsp;<a asp-action="Delete" asp-route-id="@item.Id">Delete</a></h4>
                    </div>
                }
        </div>
    </div>
}
